<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/gantt/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/gantt/css/style.css" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" type="text/css" rel="stylesheet">
</head>
<body>
<!--<form method="post">-->
    <!--<label for="">-->
        <!--gantt chart name-->
        <!--<input type="text" name="gantName">-->
    <!--</label>-->
    <!--<div id="task">-->
        <!--<label for="">-->
            <!--task name-->
            <!--<input type="text" name="taskName">-->
        <!--</label>-->
        <!--<label for="">-->
            <!--task desc-->
            <!--<input type="text" name="taskDesc">-->
        <!--</label>-->
        <!--<label for="">-->
            <!--task start-->
            <!--<input type="text" name="task_start">-->
        <!--</label>-->
        <!--<label for="">-->
            <!--task end-->
            <!--<input type="text" name="task_end">-->
        <!--</label>-->
    <!--</div>-->
    <!--<button type="button" class="add-task">Add task</button>-->
    <!--<button type="submit">전송</button>-->
<!--</form>-->
<h3 id="ganttName"></h3>
<div class="gantt" id="gantt">

</div>

<div class="modal fade" id="create_gantt" tabindex="-1" role="dialog" aria-labelledby="create_gantt_ModalLabel">
    <form id="createGantt" action="/" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="create_gantt_ModalLabel">간트 차트 생성</h4>
                </div>
                <div class="modal-body">
                        <div class="form-group">
                            <label for="ganttName" class="control-label">간트 차트 이름</label>
                            <input type="text" class="form-control" id="ganttName" name="ganttName">
                        </div>
                        <div class="form-group">
                            <label for="projectName" class="control-label">프로젝트 이름</label>
                            <input type="text" class="form-control" id="projectName" name="projectName">
                        </div>
                        <!--<div class="form-group">-->
                            <!--<label for="taskDesc" class="control-label">업무 상세 내용</label>-->
                            <!--<input type="text" class="form-control" id="taskDesc" name="taskDesc">-->
                        <!--</div>-->
                        <div class="form-group">
                            <label for="projectStart" class="control-label">프로젝트 시작일</label>
                            <input type="text" class="form-control dataPicker" id="projectStart" name="projectStart">
                        </div>
                        <div class="form-group">
                            <label for="projectEnd" class="control-label">프로젝트 완료일</label>
                            <input type="text" class="form-control dataPicker" id="projectEnd" name="projectEnd">
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                    <button type="submit" class="btn btn-primary" id="completeGanttBtn">완료</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script src="/moment.js"></script>
<script src="/gantt/js/jquery.fn.gantt.js"></script>
<script src="/js/gantt_create.js"></script>
</body>
</html>